**/Manifest.toml
out*/
docs/build
docs/src/authors.md
docs/src/code_of_conduct.md
docs/src/contributing.md
docs/src/index.md
public/
coverage/
coverage_report/
**/*.jl.*.cov
.vscode/
examples/*.tec
examples/*.mesh
*.png
